/* 初始化代码 */

body,
div,
span,
p,
a,
input,
img,
ul,
li,
i,
strong,
em,
del,
ins,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

i {
    font-style: normal;
}

body {
    font: 12px/100% "微软雅黑";
    background-color: #f3f6f6;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}